#open-dialog{
  position: fixed;
  bottom: 50%;
  right: 0.5%;
  z-index: 3;
}
/*
.fa-circle-exclamation{
  font-size: 2.2rem;
  cursor: pointer;
  color:#4fc2fa;
}
*/
#open-dialog img{
  width: 35px;
  cursor: pointer;
  filter: invert(0.1);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 85%;
  border: none;
  border-radius: 10px;
  background-color: #222;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.8);
}

dialog[open] {
  opacity: 1;
}

dialog::backdrop {
  background-color: rgba(0, 0, 255, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

dialog span {
  color: orange;
  font-size: 1.3rem;
}
dialog label{
  padding-top: 45px;
  /*color: #fff;*/
  color: #dfdfe3;
  width: 90%;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  font-family: Lato;
}

dialog .image-dialog {
  max-width: 100%;
  width: 250px;
  margin: 15px auto;
}
dialog .image-dialog img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 1px 2px 6px #222;
}
.close {
  position: fixed;
  top: 0;
  right: 2%;
}
.fa-xmark {
  font-size: 45px;
  color:#4fc2fa;
  cursor: pointer;
}
