::selection{
  background-color: blue;
}

/*Loading*/

  .loading-spinner-container {

  position: fixed;

  z-index: 10000;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: #1c2f38;

}

.loading-spinner {

  border: 5px solid #e3e3e3;

  border-top: 5px solid transparent;

  border-radius: 50%;

  width: 50px;

  height: 50px;

  animation: spin 0.8s linear infinite;

}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
    height: 80px;
    

}
  .sidebar-toggle {
    display: none;
  }

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: Inter;
}


/* homepage css starts here */
.section-container{
    display: flex;
}


/* left sidebar style starts here */
.sidebar{
    position: fixed;
    z-index: 9998;
    top: 80px;
    bottom: 0;
    box-shadow: 0 3px 5px #8b8eaf;
    filter: drop-shadow(3px 2px 4px #121212);
    width: 260px;
    left: 0;
    box-shadow: 8px 10px 10px 1px rgba(0,0, 0, 0.5);
     background-image: linear-gradient(rgb(34, 47, 57),rgba(49, 55, 82, 1));
     background-color: #333;
     overflow-y: scroll;
     scroll-behavior: smooth;
}

.sidebar::-webkit-scrollbar{
  display: none;
  
}

.sidebar nav .logo{
    text-align: center;
    font-size: 7rem;  
    border-bottom: 5px solid #ABC4AA;
    margin-bottom: 2rem;
    cursor: pointer;
}

.sidebar  nav  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 2.5rem;
    
}   

.sidebar  nav ul li{
    list-style: none;
    text-align: center;
    
}


.sidebar nav ul li a{
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
}

li a{
  position: relative;
  text-decoration: none;
}

.about-content-title{
  max-width: max-content;
}

li a::before, .about-content-title::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color:#FFEA20;;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;

}

li a:hover::before , .about-content-title:hover::before{
  visibility: visible;
  transform: scaleX(1);
}


.sidebar nav ul li .active{
  color: gold;
}

a{
    color: white ;
    text-decoration: none;
    font-weight: 700;
    letter-spacing:1.6px;
}

/* footer sections start here */
footer{
   background-color: #1c2f38;
   margin-left: 12.5%;
}
footer .footer-content{
    width: 450px;
    margin: auto;
    padding: 20px 0;
    font-size: 1.5rem;
    margin-top: 20px;
}

.footer-content p{
  text-align: center;
}

.social-icons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-icons i{
  cursor: pointer;
}

/*Style for max-width 1240px starts */

/*main*/
@media (max-width: 1240px) {
  .sidebar nav .logo {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .sidebar nav ul {
    gap: 2.5rem;
  }
  .sidebar {
    width: 220px;
  }

  footer {
    margin-left: 190px;
  }

  .footer-content p {
    font-size: 1.4rem;
  }

  .social-icons a:hover {
    color: #ffea20;
  }
}
  /*main*/
  
/*max width 1240px ends here*/



/*max-width 1239px starts here*/
@media (max-width: 1239px) {
  /*main*/
  header {
    height: 60px;
    justify-content: center;
  }

  h1 {
    padding-left: 0.9rem;
    font-size: 1.7rem;
  }

  .sidebar nav .logo {
    font-size: 8rem;
    margin-bottom: 4rem;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in;
  }

  ion-icon {
    color: white;
    font-size: 2.4rem;
    padding: 5px;
  }

  .sidebar-toggle:focus > .sidebar {
    display: block;
  }

  /* style  button */
  .sidebar-toggle {
    position: fixed;
    top: 10;
    left: 0;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .sidebar.open {
    max-width: 100%;
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    height: auto;
    width: 220px;
    transform: translateX(0);
  }

  footer {
    margin-left: 0;
  }

  footer .footer-content {
    margin-top: 50px;
    padding: 20px 0;
    font-size: 1.3rem;
    width: 360px;
  }

  .footer-content p {
    font-size: 1.2rem;
  }
  /*main*/
}

/*max-width 606px starts here for mobile screen size*/

@media (max-width: 606px) {
  /*main*/
  h1 {
    padding-left: 1.8rem;
    font-size: 1.4rem;
  }

  .sidebar nav .logo {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  /* style  button */
  .sidebar-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    width: 100%;
    transform: translateX(-120%);
    transition: transform 0.5s ease-in;
  }

  .sidebar.open {
    width: 100%;
  }

  .sidebar nav ul {
    gap: 2.5rem;
  }

  footer .footer-content {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1rem;
  }

  .footer-content p {
    font-size: 1.1rem;
  }

}
 /*main*/
/*max-width 606px ends here for mobile screen size*/

/*style for specific max-height 800px*/
@media (max-height: 800px) {
  /*main*/
  .sidebar nav .logo {
    font-size: 7rem;
    margin-bottom: 1.4rem;
  }
  .sidebar nav ul {
    gap: 1rem;
  }
}
