@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Variables colors*/
:root {
  --background-color-light: #fff;
  --text-color-light: #333;
  --background-color-dark: #171e1e;
  --text-color-dark: #fff;
  --border-color: #abc4aa;
}

/*css for main content starts here*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 1.4px;
  font-size: 16px;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}


.section-container{
  display: block !important;
  min-height: 100dvh;
}

h2{
  margin-top: 80px;
  text-align: center;
  color: gold;
}

.filters {
  text-align: center;
  padding: 20px;
}

.filters select{
  height: 30px;
}

.filters label{
  color: var(--text-color-dark);
  font-size: 1.1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.project-item {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #373727;
  border-radius: 5px;
  background-color: #181815;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.project-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.project-item img:hover{
  transform: translateY(-10px);
}

.project-item h3 {
  margin-top: 10px;
  text-align: center;
  color: var(--text-color-dark);
}

.project-item p {
  margin-top: 10px;
  color: #ddd;
}

.project-item a {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #4fc2fa;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid gold;
}

.project-item a:hover {
  background-color: #555;
}

    .project-item .visit-demo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.83);
      color: #fff;
    }

    .project-item:hover .visit-demo {
      opacity: 1;
    }

    .project-item .visit-demo {
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;
    }

    .project-item:hover .visit-demo {
      transform: translateY(0);
      
    }



@media (max-width: 600px) {
  .project-item {
    width: 100%;
    margin: 10px 5px;
  }
}

@media (min-width: 1241px) {
  .projects-showcase {
    margin-left: 260px;
    margin-top: 80px;
  }


