@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*General style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  letter-spacing: 1.3px;
}
body {
  color: #fff;
  font-family: Inter, sans-serif;
  background-color: #171e1e;
}

/*QuizLayout*/
.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 55px 0 0 0;
  background-color: #171e1e;
  padding: 50px 0;
  position: relative;
}
#quiz-container {
  padding: 1rem;
}

#current-score {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  color: gold;
  border: 1px solid gold;
  border-radius: 5px;
  padding: 5px 8px;
}

.quiz-title {
  margin-top: 10px;
  font-family: Poppins;
  font-size: 2rem;
  color: gold;
  text-align: center;
  text-shadow: 0px 0px 40px orange;
}
hr {
  background: gold;
  height: 3px;
  width: 60px;
  border-radius: 5px;
  border: none;
  margin: auto;
}
#quiz-container p{
  color: orange;
  margin: 10px auto 50px auto;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
label {
  display: flex;
  margin-bottom: 10px;
  font-size: 1rem;
  align-items: center;
  font-weight: 400;
  color: #ddd;
}
input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid orange;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: #1c2f38;
}

input[type="radio"]:checked {
  background-color: yellow;
}

/*Buttons*/

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.buttons > *{
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[type="submit"],
button[type="button"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a459d1;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #a459d1;
}
button[type="submit"]:active,
button[type="button"]:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .buttons {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  flex-wrap: wrap;
}
}